body.delicious {
	font: normal 12px arial, helvetica, arial, verdana;
	color: #000;
	overflow: hidden;
	border: 0px;
	}
	.delicious div.toolstrip-button {
		color: #000;
		cursor: hand;
		padding: 6px;
		border-bottom: 1px solid #eee;
		}
	.delicious div.toolstrip-button {
		color: #000;
		cursor: hand;
		font: normal 12px helvetica, arial, verdana;
		width: 150px;
		padding: 6px;
		border-bottom: 1px solid #eee;
		}
		div.toolstrip-button:last-child {border-bottom-style: none;}
		.delicious div.toolstrip-button:hover {
			background-color: #3274d0;
			color: #fff;
			}
	/*************************
	OPTIONS pages
	**************************/
	.delicious .options h3 {
		font-weight: bold;
		margin-bottom: 9px;
		}
		.options small {font-size: 10px; font-family: verdana;}
		.message p {padding: 4px;}
			p.fail {
				background-color: #ff0000;
				color: #000;
				}
			p.success {
				background-color: #ffff99;
				color: #000;
				}
	.delicious #bookmarks {
		padding: 6px;
		}
	.delicious #bookmarks h3 {
		font-weight: normal;
		font-size: 12px;
		}
	.delicious #bookmarks h3 small {
		font-size: 10px;
		text-decoration: underline;
		}
	.delicious #bookmarks ul {
		margin: 0;
		padding: 0;
		list-style: none outside;
		}
	.delicious #bookmarks li {
		margin: 0;
		padding: 4px;
		line-height: 14px;
		list-style: none outside;
		}
	.delicious #bookmarks li.even {
		background-color: #f1f1f1;
		}
	.delicious #bookmarks li a,
	.delicious #bookmarks li a:link {
		color: #1259c7;
		text-decoration: none;
		}
	.delicious #bookmarks li a:visited {
		color: #515697;
		}
	.delicious #bookmarks li a:hover,
	.delicious #bookmarks li a:active,
	.delicious #bookmarks li a:focus {
		color: #1259c7;
		text-decoration: underline;
		}
